# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*.stamp
s3eAppsFlyerExample/build_s3eappsflyerexample_vc10
s3eAppsFlyerExample/build_s3eappsflyerexample_vc11x
s3eAppsFlyerExample/data/app.icf.orig
